flask
gunicorn
requests
python-dotenv
flask-cors
ollama
dateparser
deep-translator
pandas
matplotlib
pytesseract
opencv-python-headless
pillow
numpy
schedule
python-dateutil
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
